.bottom_box {
    font-size: xx-large;
    min-height: 75px;
    min-width: 150px;
    margin: 15px 20px 15px 20px;
}

.stack {
    font-size: xx-large;
    min-height: 75px;
    margin: 15px;
}

.speed_page {
    margin: 15px;
}

.entry_box {
    margin: 15px 15px 15px 15px;
    min-height: 125px;
    min-width: 80%;
    font-size: 35px;
}

.animations {
    margin: 20px 15px 20px 15px;
    min-height: 100px;
    min-width: 250px;
    padding: 150px 10px 150px 10px;
}

.grid_header {
    font-size: 16px;
    font-weight: bolder;
    margin: 0 10px 0 0;
}

.grid_item {
    font-size: 12px;
    font-weight: bold;
    margin: 10px 0px 0px 0px;
}

scrolledwindow {
    min-height: 300px;
    min-width: 500px;
}

.icon{
    margin: 5px 5px 0 0;
    min-width: 53px;
    min-height: 53px;
    font-size: 30px;
    font-weight: bolder;
}
switch {
}

scale slider {
    min-width: 50px;
    min-height: 50px;
}

headerbar {
    min-height: 75px;
}

menubutton {
    min-width: 65px;
}